<div id="bt_footer">
  <footer>
    <div class="bt-footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="footer-about">
              <a href="/"><img src="<%= request.base_url %>/images/decoLOGO2.svg" alt="Deco27" title="Deco27" style="margin-top: 32px;"/>
              </a>
              <p>Deco27 is one of Florida’s largest and most recognized company specialized in hardwood flooring,doors , porcelains, wood walls and wine cellars. Our goal is to provide the finest quality products,at competitive market prices, while maintaining the highest standards in service.</p>
            </div>
            <div class="footer-contact">
              <ul>
                <li><i class="fa fa-map-marker"></i> <span> &nbsp2646 SW 28 Lane.  (US1 SW 27 Ave). Miami, Fl 33133</span>
                </li>
                <li><i class="fa fa-phone"></i> <span>305-859-4848</span>
                </li>
                <li><i class="fa fa-envelope-o"></i> <span><a href="mailto:support@codespot.vn">support@codespot.vn</a></span>
                </li>
              </ul>
            </div>
            <div class="footer-social">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/" title="Facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a class="pinterest" href="https://www.pinterest.com/" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                </li>
                <li><a class="twitter" href="https://twitter.com/" title="Twiter"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a class="google" href="https://plus.google.com/" title="Google plus"><i class="fa fa-google-plus"></i></a>
                </li>
                <li><a class="rss" href="https://www.rss.com/" title="RSS"><i class="fa fa-rss"></i></a>
                </li>
                <li><a class="youtube" href="https://www.youtube.com/" title="YouTube"><i class="fa fa-youtube"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.col-md-4 -->
          <!-- Load modules in position footer top-->
          <!-- <div class="col-md-4 col-xs-12">
            <div class="box block boss-recent-post">
                <div class="box-heading"> <span>Recent Post</span> </div>
                <div class="box-content block-content">
                    <ol>
                        <li class="item-recent-post">
                            <div class="image">
                                <a class="article-title" href="blog-detail.html"><img src="images/blog/b2-98x70.jpg" alt="Braid slipper dress dungaree " title="Braid slipper dress dungaree " />
                                </a>
                            </div>
                            <div class="title">
                                <a class="article-title" href="blog-detail.html">Braid slipper dress dungaree </a><small class="time-stamp">Dec 22, 2014 </small>
                            </div>
                        </li>
                        <li class="item-recent-post">
                            <div class="image">
                                <a class="article-title" href="blog-detail.html"><img src="images/blog/b1-98x70.jpg" alt="Indigo skirt skirt braid vintage" title="Indigo skirt skirt braid vintage" />
                                </a>
                            </div>
                            <div class="title"> <a class="article-title" href="blog-detail.html">Indigo skirt skirt braid vintage</a> <small class="time-stamp">Dec 22, 2014 </small>
                            </div>
                        </li>
                        <li class="item-recent-post">
                            <div class="image">
                                <a class="article-title" href="blog-detail.html"><img src="images/blog/b5-98x70.jpg" alt="Givenchy playsuit" title="Givenchy playsuit" />
                                </a>
                            </div>
                            <div
                                class="title"> <a class="article-title" href="blog-detail.html">Givenchy playsuit</a> <small class="time-stamp">Dec 22, 2014 </small>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            </div><!-- /.col-md-4 -->
          <!-- <div class="col-md-4 col-xs-12">
            <div class="box-tweeter column col-xs-12">
                <div class="tweeter-heading">
                    <h3>Recent Tweets</h3>
                </div>
                <div class="tweeter-content">
                    <ul id="twitter-list">
                        <li class="status-item">
                            <div class="tweet-profile"> <a title="@bossthemes1" href="https://twitter.com/bossthemes1"><i class="fa fa-twitter"></i></a> </div>
                            <div class="tweet-content">
                                <div class="tweet-name"><span>bossthemes</span>
                                </div>
                                <div class="tweet-text">
                                    <p>dolor sit amet Consectetur adipiscing elit Morbi Tincidunt neque vitae</p>
                                </div>
                                <div class="date-time"><a href="http://twitter.com/bossthemes1/statuses/230890474217549827">Thu Aug 02 04:59:13 +0000 2012</a>
                                </div>
                            </div>
                        </li>
                        <li class="status-item">
                            <div class="tweet-profile"> <a title="@bossthemes1" href="https://twitter.com/bossthemes1"><i class="fa fa-twitter"></i></a> </div>
                            <div class="tweet-content">
                                <div class="tweet-name"><span>bossthemes</span>
                                </div>
                                <div class="tweet-text">
                                    <p>amet Consectetur adipiscing elit Morbi Tincidunt neque vitae risus @e</p>
                                </div>
                                <div class="date-time"><a href="http://twitter.com/bossthemes1/statuses/230526741523873793">Wed Aug 01 04:53:52 +0000 2012</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            </div><!-- /.col-md-4 -->
        </div>
      </div>
    </div>
    <!-- /.bt-footer-top -->
    <div class="bt-footer-bottom">
      <div class="container">
        <div class="row">
          <div class="link">
            <ul class="list-unstyled">
              <li><a href="contact.html">Contact Us</a>
              </li>
              <li><a href="#">Site Map</a>
              </li>
              <li><a href="#">Brands</a>
              </li>
              <li><a href="#">Affiliates</a>
              </li>
              <li><a href="#">Specials</a>
              </li>
              <li><a href="#">Newsletter</a>
              </li>
              <% if admin_signed_in? %>
              <li><%= link_to current_admin.email, admin_path,  class: "btn #{'active' if current_page?(admin_path)}" %></li>
              <li><%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: "btn" %></li>
              <% else %>
              <li>
                <%= link_to 'Sign In', new_admin_session_path, class: "btn #{'active' if current_page?(new_admin_session_path)}" %>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="powered-payment">
            <div class="row">
              <div class="powered col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div id="powered">
                  <p>© 2015 Deco27 Store. All rights Reserved.<span> Themes by <a href="http://dvlper.com">DVLPER</a>.</span>
                  </p>
                </div>
              </div>
              <div class="payment col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul>
                  <li>
                    <a title="Visa" href="#" class="visa"><img alt="Visa" src="<%= request.base_url %>/images/visa.jpg">
                    </a>
                  </li>
                  <li>
                    <a title="MasterCard" href="#" class="masterCard"><img alt="MasterCard" src="<%= request.base_url %>/images/master_card.jpg" />
                    </a>
                  </li>
                  <li>
                    <a title="Paypal" href="#" class="paypal"><img alt="Paypal" src="<%= request.base_url %>/images/paypal.jpg">
                    </a>
                  </li>
                  <li>
                    <a title="Merican" href="#" class="merican"><img alt="Merican" src="<%= request.base_url %>/images/american.jpg" />
                    </a>
                  </li>
                  <li>
                    <a title="DHL" href="#" class="dhl"><img alt="DHL" src="<%= request.base_url %>/images/dhl.jpg">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.bt-footer-bottom -->
  </footer>
</div>
<!-- /#bt_footer -->
