        <div id="bt_header">
            <nav id="top">
                <div class="container">
                    <div class="row">
                        <div id="left_top_links" class="nav pull-left"> <a href="contact.html"><i class="fa fa-phone"></i> <span> 305-859-4848</span></a> </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="bt-content-menu" style="float: left; width: 100%; clear: both; height: 1px;"></div>
                </div>
            </div> <a class="open-bt-mobile"><i class="fa fa-bars"></i></a>
            <div class="bt-mobile">
                <div class="menu_mobile"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                    <div class="menubar">
                        <div class="container">
                            <div class="bt_mainmenu">
                                <div class="row">
                                    <div class="nav-heading"> <a class="open-panel"><b>MENU</b><span><i class="fa fa-bars"></i></span></a> </div>
                                    <nav class="mega-menu"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                                        <ul class="nav nav-pills">
                                            <li><span class="menu-title"><%= link_to 'Home', root_path, class:'home' %></span></a> </li>
                                            <li class="parent">
                                                <p class="plus visible-xs">+</p><span class="menu-title"><%= link_to"CATEGORIES", categories_path, class:'categories' %></span><i class="fa fa-angle-down"></i></a>
                                                <div class="dropdown drop-grid-6-1">
                                                    <div class="menu-row row-col-1">
                                                        <div class="menu-column row-grid-1">
                                                            <ul class="column category">
                                                              <li class="col-grid-1 "><%= link_to"PORCELAINS", categories_path %></li>
                                                              <li class="col-grid-1 "><%= link_to"DOORS", categories_path %></li>
                                                              <li class="col-grid-1 "><%= link_to"WALLS", categories_path %></li>
                                                              <li class="col-grid-1 "><%= link_to"HARDWOOD FLOORS", categories_path %></li>
                                                              <li class="col-grid-1 "><%= link_to"STAIRS", categories_path %></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="parent">
                                                <p class="plus visible-xs"></p> <a href="/gallery"><span class="menu-title">gallery</span></a>
                                            </li>
                                            <li> <a href="/contact"><span class="menu-title">contact</span></a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.menubar -->
                </div>
            </div><!-- /.bt-mobile -->
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div id="logo">
                                <a href="/"><img src="../images/Decotestlogo.svg" title="Comohos Store" alt="Comohos Store" class="img-responsive" />
                                </a>
                            </div>
                        </div>
                        <div id="bt-search" class="input-group"> <a class="icon_search" href=""><i class="fa fa-search"></i></a>
                            <div class="search-form">
                                <div id="search" class="input-group">
                                    <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                                      </span> </div>
                            </div>
                        </div><!-- /#bt-search -->
                        <!-- Load menu -->
                        <div class="menubar">
                            <div class="container">
                                <div class="bt_mainmenu">
                                    <div class="row">
                                        <div class="nav-heading"> <a class="open-panel"><b>MENU</b><span><i class="fa fa-bars"></i></span></a> </div>
                                        <nav class="mega-menu"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                                            <ul class="nav nav-pills">
                                                <li> <a href="/"><span class="menu-title">Home</span></a> </li>

                                                <li class="parent">
                                                    <p class="plus visible-xs">+</p><span class="menu-title"><%= link_to"Categories", categories_path, class:'categories' %></span><i class="fa fa-angle-down"></i></a>
                                                    <div class="dropdown drop-grid-6-1">
                                                        <div class="menu-row row-col-1">
                                                            <div class="menu-column row-grid-1">
                                                                <ul class="column category">
                                                                  <li class="col-grid-1 "><%= link_to"PORCELAINS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"DOORS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"WALLS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"HARDWOOD FLOORS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"STAIRS", categories_path %></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="parent">
                                                    <p class="plus visible-xs">+</p> <a href="/gallery"><span class="menu-title">gallery</span></a>

                                                </li>

                                                <li> <a href="/contact"><span class="menu-title">contact</span></a> </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.menubar -->
                    </div>
                </div>
            </header>
            <!-- Load module in position header -->
        </div>
        <!-- End #bt_header -->
</div>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/getwidthbrowser.js"></script>
<script src="js/cs.bossthemes.js"></script>
<script src="js/jquery.jgrowl.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/video.js"></script>
<script src="js/jquery.smoothscroll.js"></script>
<script src="js/carouFredSel-6.2.1.js"></script>
<script src="js/isotope.pkgd.js"></script>
<script src="js/plugins.js"></script>
<script src="js/jquery.tools.min.js"></script>
<script src="js/jquery.revolution.min.js"></script>
<script src="js/cloud-zoom.1.0.3.js"></script>
<script src="js/custom.js"></script>
<!--[if IE 8]>
<script type="text/javascript">
$(window).scroll(function() {
        var height_header = $('#bt_header').height();
        if($('html').scrollTop() > height_header) {
            $('header').addClass('boss_scroll');
        } else {
            $('header').removeClass('boss_scroll');
        }
    });
</script>
<![endif]-->
<script>
    jQuery(document).ready(function() {
        /* Main Slider */
        $('.tp-banner0').show().revolution({
            dottedOverlay: "none",
            delay: 5000,
            startWithSlide: 0,
            startwidth: 1920,
            startheight: 818,
            hideThumbs: 10,
            hideTimerBar: "on",
            thumbWidth: 50,
            thumbHeight: 50,
            thumbAmount: 4,
            navigationType: "none",
            navigationArrows: "solo",
            navigationStyle: "round",
            touchenabled: "on",
            onHoverStop: "on",
            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,
            parallax: "mouse",
            parallaxBgFreeze: "on",
            parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
            keyboardNavigation: "off",
            navigationHAlign: "center",
            navigationVAlign: "bottom",
            navigationHOffset: 0,
            navigationVOffset: 20,
            soloArrowLeftHalign: "left",
            soloArrowLeftValign: "center",
            soloArrowLeftHOffset: 50,
            soloArrowLeftVOffset: 8,
            soloArrowRightHalign: "right",
            soloArrowRightValign: "center",
            soloArrowRightHOffset: 50,
            soloArrowRightVOffset: 8,
            shadow: 0,
            fullWidth: "on",
            fullScreen: "off",
            spinner: "spinner4",
            stopLoop: "on",
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            forceFullWidth: "off",
            hideThumbsOnMobile: "off",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "off",
            hideArrowsOnMobile: "off",
            hideThumbsUnderResolution: 0,
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 500,
            hideAllCaptionAtLilmit: 500,
            videoJsPath: "rs-plugin/videojs/",
            fullScreenOffsetContainer: ""
        });

        boss_quick_shop();
    });


    /* Modal Quick Shop */
    $('#myModal').on('shown.bs.modal', function (e) {
        $.fn.CloudZoom.defaults = {
            adjustX: 0,
            adjustY: 0,
            tint: '#FFF',
            tintOpacity: 0.5,
            softFocus: 0,
            lensOpacity: 0.7,
            zoomWidth: '450',
            zoomHeight: '552',
            position: 'inside',
            showTitle: 0,
            titleOpacity: 0.5,
            smoothMove: '3'
        };
        $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
    })
    /* Quick Shop */
    function boss_quick_shop(){
        $('.product-thumb').each(function(index, value){
            var _qsHref = '<button class=\"btn-quickshop\" title =\"Quick Shop\" class=\"sft_quickshop_icon \" data-toggle=\"modal\" data-target=\"#myModal\"><i class="fa fa-eye"></i></button>';
            $('.button-group', this).append(_qsHref);
        });
    }
</script>
