        <div id="bt_header">
            <nav id="top">
                <div class="container">
                    <div class="row">
                        <div id="left_top_links" class="nav pull-left"> <a href="contact.html"><i class="fa fa-phone"></i> <span> 305-859-4848</span></a>
                          <span><% if admin_signed_in? %>
          <%= link_to "Sign Out", destroy_admin_session_path, method: :get, class: "btn" %>
          <% end %></span> </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="bt-content-menu" style="float: left; width: 100%; clear: both; height: 1px;"></div>
                </div>
            </div> <a class="open-bt-mobile"><i class="fa fa-bars"></i></a>
            <div class="bt-mobile">
                <div class="menu_mobile"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                    <div class="menubar">
                        <div class="container">
                            <div class="bt_mainmenu">
                                <div class="row">
                                    <div class="nav-heading"> <a class="open-panel"><b>MENU</b><span><i class="fa fa-bars"></i></span></a> </div>
                                    <nav class="mega-menu"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                                        <ul class="nav nav-pills">
                                            <li><span class="menu-title"><%= link_to 'Home', root_path, class:'home' %></span></a> </li>
                                            <li class="parent">
                                                <p class="plus visible-xs">+</p><span class="menu-title"><%= link_to"CATEGORIES", categories_path, class:'categories' %></span></a>
                                                <div class="dropdown drop-grid-6-1">
                                                    <div class="menu-row row-col-1">
                                                        <div class="menu-column row-grid-1">
                                                            <ul class="column category">
                                                              <li class="col-grid-1 "><%= link_to"PORCELAINS", categories_path %></li>
                                                              <li class="col-grid-1 "><%= link_to"DOORS", categories_path %></li>
                                                              <li class="col-grid-1 "><%= link_to"WALLS", categories_path %></li>
                                                              <li class="col-grid-1 "><%= link_to"HARDWOOD FLOORS", categories_path %></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="parent">
                                                <p class="plus visible-xs"></p> <a href="/gallery"><span class="menu-title">gallery</span></a>
                                            </li>
                                            <li> <a href="/contact"><span class="menu-title">contact</span></a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.menubar -->
                </div>
            </div><!-- /.bt-mobile -->
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div id="logo">
                                <a href="/"><img src="<%= request.base_url %>/images/decoLOGO.svg" title="Deco27" alt="Deco27" class="img-responsive" />
                                </a>
                            </div>
                        </div>
                        <div id="bt-search" class="input-group"> <a class="icon_search" href=""><i class="fa fa-search"></i></a>
                            <div class="search-form">
                                <div id="search" class="input-group">
                                    <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                                      </span> </div>
                            </div>
                        </div><!-- /#bt-search -->
                        <!-- Load menu -->
                        <div class="menubar">
                            <div class="container">
                                <div class="bt_mainmenu">
                                    <div class="row">
                                        <div class="nav-heading"> <a class="open-panel"><b>MENU</b><span><i class="fa fa-bars"></i></span></a> </div>
                                        <nav class="mega-menu"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                                            <ul class="nav nav-pills">
                                                <li> <a href="/"><span class="menu-title">Home</span></a> </li>

                                                <li class="parent">
                                                    <p class="plus visible-xs">+</p><span class="menu-title"><%= link_to"Categories", categories_path, class:'categories' %></span></a>
                                                    <div class="dropdown drop-grid-6-1">
                                                        <div class="menu-row row-col-1">
                                                            <div class="menu-column row-grid-1">
                                                                <ul class="column category">
                                                                  <li class="col-grid-1 "><%= link_to"PORCELAINS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"DOORS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"WALLS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"HARDWOOD FLOORS", categories_path %></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="parent">
                                                    <p class="plus visible-xs">+</p> <a href="/gallery"><span class="menu-title">gallery</span></a>

                                                </li>

                                                <li> <a href="/contact"><span class="menu-title">contact</span></a> </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.menubar -->
                    </div>
                </div>
            </header>
            <!-- Load module in position header -->
        </div>
        <!-- End #bt_header -->
</div>
