        <div id="bt_header">
            <nav id="top">
                <div class="container">
                    <div class="row">
                        <div id="left_top_links" class="nav pull-left"> <a href="contact.html"><i class="fa fa-phone"></i> <span> 305-859-4848</span></a> </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="bt-content-menu" style="float: left; width: 100%; clear: both; height: 1px;"></div>
                </div>
            </div> <a class="open-bt-mobile"><i class="fa fa-bars"></i></a>
            <div class="bt-mobile">
                <div class="menu_mobile"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                    <div class="bt-language">
                        <form method="post" enctype="multipart/form-data" class="language">
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <img src="images/flags/gb.png" alt="English" title="English"> <span>en</span><i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="en"><span class="text-left">English</span><span class="text-right"><img src="images/flags/gb.png" alt="English" title="English" /></span></a>
                                    </li>
                                    <li><a href="de"><span class="text-left">Deutsch</span><span class="text-right"><img src="images/flags/de.png" alt="Deutsch" title="Deutsch" /></span></a>
                                    </li>
                                </ul>
                            </div>
                            <input type="hidden" name="code" value="" />
                            <input type="hidden" name="redirect" value="" /> </form>
                    </div><!-- /.bt-language -->
                    <div class="bt-currency">
                        <form  method="post" enctype="multipart/form-data" class="currency">
                            <div class="btn-group">
                                <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <strong>$</strong> <span>USD</span> <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="currency-select btn btn-link" type="button" name="EUR"><span>Euro</span> <span>€</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="currency-select btn btn-link" type="button" name="GBP"><span>Pound Sterling</span> <span>£</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="currency-select btn btn-link" type="button" name="USD"><span>US Dollar</span> <span>$</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <input type="hidden" name="code" value="" />
                            <input type="hidden" name="redirect" value="" /> </form>
                    </div><!-- /.bt-currency -->
                    <div class="logged-link"> <a href="login.html"><i class="fa fa-sign-in"></i><span>Sign In</span></a> <a href="register.html"><i class="fa fa-hand-o-up"></i><span>Join for Free</span></a> </div>
                    <div class="menubar">
                        <div class="container">
                            <div class="bt_mainmenu">
                                <div class="row">
                                    <div class="nav-heading"> <a class="open-panel"><b>MENU</b><span><i class="fa fa-bars"></i></span></a> </div>
                                    <nav class="mega-menu"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                                        <ul class="nav nav-pills">
                                            <li> <a href="index.html"><span class="menu-title">Home</span></a> </li>
                                            <li class="parent">
                                                <p class="plus visible-xs">+</p> <a href="#"><span class="menu-title">Men's</span><i class="fa fa-angle-down"></i></a>
                                                <div class="dropdown drop-grid-6-6">
                                                    <div class="menu-row row-col-6">
                                                        <div class="menu-column row-grid-2">
                                                            <!-- html-->
                                                            <div class="staticblock">
                                                                <a title="Comohos" href="index.html"><img src="images/logo.png" title="Comohos" alt="Comohos">
                                                                </a>
                                                                <p>Metallic round sunglasses powder blue loafer Prada Saffiano button up print. Crop Saint Laurent lilac sports luxe strong eyebrows la marinière razor pleats shoe statement gold collar. Floral bandeau envelope clutch dove grey Jil Sander Vasari dress. Leggings Lanvin Jil Sander Vasari texture collarless grunge leather tote.</p>
                                                            </div>
                                                        </div>
                                                        <div class="menu-column row-grid-1">
                                                            <a href="#" class="parent">Sweaters</a>
                                                            <ul class="column category">
                                                                <li class="col-grid-1 "> <a href="#">Hoodies &amp; Jackets</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Pants &amp; Shorts</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Outerwear</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Slips &amp; Shapewear</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Sweatshirts</a> </li>
                                                            </ul>
                                                        </div>
                                                        <div class="menu-column row-grid-1">
                                                            <a href="#" class="parent">Shirts</a>
                                                            <ul class="column category">
                                                                <li class="col-grid-1 "> <a href="#">Sleep &amp; Lounge</a> </li>
                                                                <li class="col-grid-1 sub_category"> <a href="#">Sweatshirts<i class="fa fa-angle-right"></i></a>
                                                                    <div class="sub_menu">
                                                                        <ul>
                                                                            <li><a href="#_31">Underwear &amp; Socks</a>
                                                                            </li>
                                                                            <li><a href="#_24">Underwear</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="col-grid-1 "> <a href="#">Jeans</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Cords</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">T-Shirts</a> </li>
                                                            </ul>
                                                        </div>
                                                        <div class="menu-column row-grid-1">
                                                            <!-- information -->
                                                            <ul class="column information">
                                                                <li class="col-grid-1"><a href="about.html">About Us</a>
                                                                </li>
                                                                <li class="col-grid-1"><a href="#">Privacy Policy</a>
                                                                </li>
                                                                <li class="col-grid-1"><a href="#">Terms &amp; Conditions</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="menu-column row-grid-1">
                                                            <ul class="column product">
                                                                <!-- product -->
                                                                <li class="col-grid-1">

                                                                    <div class="image">
                                                                        <a href="product-detail.html"><img src="images/product/p8-170x204.jpg" alt="Ribbed boots holographic Céline" />
                                                                        </a>
                                                                        <br/>
                                                                    </div>
                                                                    <div class="name"><a href="product-detail.html">Ribbed boots holographic Céline</a>
                                                                        <br />
                                                                    </div>
                                                                    <div class="price"> $337.99 </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="parent">
                                                <p class="plus visible-xs">+</p> <a href="#"><span class="menu-title">Women's</span><i class="fa fa-angle-down"></i></a>
                                                <div class="dropdown drop-grid-6-3">
                                                    <div class="menu-row row-col-3"> <img alt="bg image" src="images/bg_menu.jpg" class="row-bg-image bt-menu-bg">
                                                        <div class="menu-column row-grid-1">
                                                            <a href="#" class="parent">Sweaters</a>
                                                            <ul class="column category">
                                                                <li class="col-grid-1 "> <a href="#">Hoodies &amp; Jackets</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Pants &amp; Shorts</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Outerwear</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Slips &amp; Shapewear</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Sweatshirts</a> </li>
                                                            </ul>
                                                        </div>
                                                        <div class="menu-column row-grid-1">
                                                            <a href="#" class="parent">Sweaters</a>
                                                            <ul class="column category">
                                                                <li class="col-grid-1 "> <a href="#">Hoodies &amp; Jackets</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Pants &amp; Shorts</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Outerwear</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Slips &amp; Shapewear</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Sweatshirts</a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="parent">
                                                <p class="plus visible-xs">+</p> <a href="#"><span class="menu-title">Bags</span><i class="fa fa-angle-down"></i></a>
                                                <div class="dropdown drop-grid-6-1">
                                                    <div class="menu-row row-col-1">
                                                        <div class="menu-column row-grid-1">
                                                            <a href="#" class="parent">Shirts</a>
                                                            <ul class="column category">
                                                                <li class="col-grid-1 "> <a href="#">Sleep &amp; Lounge</a> </li>
                                                                <li class="col-grid-1 sub_category"> <a href="#">Sweatshirts<i class="fa fa-angle-right"></i></a>
                                                                    <div class="sub_menu">
                                                                        <ul>
                                                                            <li><a href="#_31">Underwear &amp; Socks</a>
                                                                            </li>
                                                                            <li><a href="#_24">Underwear</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="col-grid-1 "> <a href="#">Jeans</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Cords</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">T-Shirts</a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="parent">
                                                <p class="plus visible-xs">+</p> <a href="#"><span class="menu-title">Shoes</span><i class="fa fa-angle-down"></i></a>
                                                <div class="dropdown drop-grid-6-6">
                                                    <div class="menu-row row-col-6">
                                                        <div class="menu-column row-grid-2">
                                                            <!-- html-->
                                                            <div class="staticblock">
                                                                <a title="Comohos" href="index.html"><img src="images/logo.png" title="Comohos" alt="Comohos">
                                                                </a>
                                                                <p>Metallic round sunglasses powder blue loafer Prada Saffiano button up print. Crop Saint Laurent lilac sports luxe strong eyebrows la marinière razor pleats shoe statement gold collar. Floral bandeau envelope clutch dove grey Jil Sander Vasari dress. Leggings Lanvin Jil Sander Vasari texture collarless grunge leather tote.</p>
                                                            </div>
                                                        </div>
                                                        <div class="menu-column row-grid-1">
                                                            <a href="#" class="parent">Shirts</a>
                                                            <ul class="column category">
                                                                <li class="col-grid-1 "> <a href="#">Sleep &amp; Lounge</a> </li>
                                                                <li class="col-grid-1 sub_category"> <a href="#">Sweatshirts<i class="fa fa-angle-right"></i></a>
                                                                    <div class="sub_menu">
                                                                        <ul>
                                                                            <li><a href="#_31">Underwear &amp; Socks</a>
                                                                            </li>
                                                                            <li><a href="#_24">Underwear</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="col-grid-1 "> <a href="#">Jeans</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Cords</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">T-Shirts</a> </li>
                                                            </ul>
                                                        </div>
                                                        <div class="menu-column row-grid-1">
                                                            <a href="#" class="parent">Sweaters</a>
                                                            <ul class="column category">
                                                                <li class="col-grid-1 "> <a href="#">Hoodies &amp; Jackets</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Pants &amp; Shorts</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Outerwear</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Slips &amp; Shapewear</a> </li>
                                                                <li class="col-grid-1 "> <a href="#">Sweatshirts</a> </li>
                                                            </ul>
                                                        </div>
                                                        <div class="menu-column row-grid-2">
                                                            <!-- html-->
                                                            <div class="staticblock">
                                                                <iframe src="http://player.vimeo.com/video/32448092" height="360" width="640"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="parent">
                                                <p class="plus visible-xs">+</p> <a href="#"><span class="menu-title">Boys</span><i class="fa fa-angle-down"></i></a>
                                                <div class="dropdown drop-grid-6-1">
                                                    <div class="menu-row row-col-1">
                                                        <div class="menu-column row-grid-1">
                                                            <!-- information -->
                                                            <ul class="column information">
                                                                <li class="col-grid-1"><a href="about.html">About Us</a>
                                                                </li>
                                                                <li class="col-grid-1"><a href="#">Delivery Information</a>
                                                                </li>
                                                                <li class="col-grid-1"><a href="#">Privacy Policy</a>
                                                                </li>
                                                                <li class="col-grid-1"><a href="#">Terms &amp; Conditions</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li> <a href="blog.html"><span class="menu-title">Blog</span></a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.menubar -->
                </div>
            </div><!-- /.bt-mobile -->
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div id="logo">
                                <a href="/"><img src="../images/Decotestlogo.svg" title="Comohos Store" alt="Comohos Store" class="img-responsive" />
                                </a>
                            </div>
                        </div>
                        <div id="bt-search" class="input-group"> <a class="icon_search" href=""><i class="fa fa-search"></i></a>
                            <div class="search-form">
                                <div id="search" class="input-group">
                                    <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                                      </span> </div>
                            </div>
                        </div><!-- /#bt-search -->
                        <!-- Load menu -->
                        <div class="menubar">
                            <div class="container">
                                <div class="bt_mainmenu">
                                    <div class="row">
                                        <div class="nav-heading"> <a class="open-panel"><b>MENU</b><span><i class="fa fa-bars"></i></span></a> </div>
                                        <nav class="mega-menu"> <a class="close-panel"><i class="fa fa-times-circle"></i></a>
                                            <ul class="nav nav-pills">
                                                <li> <a href="/"><span class="menu-title">Home</span></a> </li>

                                                <li class="parent">
                                                    <p class="plus visible-xs">+</p><span class="menu-title"><%= link_to"Categories", categories_path, class:'categories' %></span><i class="fa fa-angle-down"></i></a>
                                                    <div class="dropdown drop-grid-6-1">
                                                        <div class="menu-row row-col-1">
                                                            <div class="menu-column row-grid-1">
                                                                <ul class="column category">
                                                                  <li class="col-grid-1 "><%= link_to"PORCELAINS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"DOORS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"WALLS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"HARDWOOD FLOORS", categories_path %></li>
                                                                  <li class="col-grid-1 "><%= link_to"STAIRS", categories_path %></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="parent">
                                                    <p class="plus visible-xs">+</p> <a href="/gallery"><span class="menu-title">gallery</span></a>

                                                </li>

                                                <li> <a href="/contact"><span class="menu-title">contact</span></a> </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.menubar -->
                    </div>
                </div>
            </header>
            <!-- Load module in position header -->
        </div>
        <!-- End #bt_header -->
</div>
