<body class="common-home">
            <!-- Load module in position slideshow -->
          <div id="bt_container" class="bt-wide">
            <div class="home-chairdecor hidden-xs">
              <div id="bt_slideshow">
                <div class="header_slider">
                    <article>
                        <div class="tp-banner-container">
                            <div class="tp-banner tp-banner0">
                                <ul>
                                    <!-- SLIDE  -->
                                    <li data-link="#" data-target="_self" data-transition="slotslide-horizontal" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                        <!-- MAIN IMAGE --><img src="../images/dummy.png" alt="slidebg1" data-lazyload="../images/slide/decoslidertest.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption medium_text sfl str rs-parallaxlevel-0" data-x="801" data-y="259" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1000" data-end="4500" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> best choice of this week </div>
                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption very_big_black sfl str rs-parallaxlevel-0" data-x="610" data-y="344" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1500" data-end="4000" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> chair decor </div>
                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption large_text sfl str rs-parallaxlevel-0" data-x="897" data-y="442" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2000" data-end="3500" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                                    </li>
                                    <li data-link="#" data-target="_self" data-transition="zoomin" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                                        <!-- MAIN IMAGE --><img src="../images/dummy.png" alt="slidebg1" data-lazyload="../images/slide/decoslidertest2.jpg" data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgpositionend="right center" />
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption medium_text sft stb rs-parallaxlevel-0" data-x="675" data-y="258" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1000" data-end="4500" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> BEST COLLECTION OF THIS YEAR </div>
                                        <!-- LAYER NR. 2 -->
                                        <div class="tp-caption very_big_black sft stb rs-parallaxlevel-0" data-x="618" data-y="332" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="1500" data-end="4000" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> FURNITURE </div>
                                        <!-- LAYER NR. 3 -->
                                        <div class="tp-caption large_text sft stb rs-parallaxlevel-0" data-x="804" data-y="438" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2000" data-end="3500" data-endspeed="500" data-easing="easeOutBack" data-endeasing="easeOutBack" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2;"> SHOP NOW </div>
                                    </li>
                                </ul>
                                <div class="slideshow_control"></div>
                            </div><!-- /.tp-banner -->
                        </div>
                    </article>
                </div><!-- /.header_slider -->
            </div><!-- /#bt_slideshow -->
        </div><!-- /.home-chairdecor -->
        <div class="container">
            <div class="row">
                <div id="content" class="col-sm-12">
                    <div class="block-shopnow">
                        <div class="left">
                            <div class="image">
                              <a href="#"> <%= image_tag('DecoPorcelainsHP.jpg', title: "banner", alt:"banner", height: '380', width: '570')%> </a>
                                </a>
                            </div>
                            <div class="title"> <i></i><sup></sup><sub></sub>
                                <p class="cate-name">Porcelains</p>
                                <p class="count-product"></p> <a href="/categories/porcelains">Shop now</a> </div>
                        </div>
                        <div class="right">
                            <div class="image">
                              <a href="#"> <img src="../images/banner/deco4.jpg" title="banner" alt="banner"> </a>
                            </div>
                            <div class="title">
                                <h2></h2> <i></i><sup></sup>
                                <p class="cate-name">Doors</p> <a href="/categories/doors">Shop now</a> </div>
                        </div>
                    </div><!-- /.block-shopnow -->
                    <div class="block-shopnow">
                        <div class="left">
                            <div class="image">
                              <a href="#"> <%= image_tag('decoWallHP.jpeg', title: "banner", alt:"banner", height: '380', width: '570')%> </a>
                                </a>
                            </div>
                            <div class="title"> <i></i><sup></sup><sub></sub>
                                <p class="cate-name">Walls</p>
                                <p class="count-product"></p> <a href="/categories/walls">Shop now</a> </div>
                        </div>
                        <div class="right">
                            <div class="image">
                                <a href="#"> <%= image_tag('DecoHWFloorsHP.jpg', title: "banner", alt:"banner", height: '380', width: '570')%> </a>
                            </div>
                            <div class="title">
                                <h2></h2><i></i><sup></sup>
                                <p class="cate-name">Hardwood Floors</p> <a href="/categories/hardwood-floors">Shop now</a> </div>
                        </div>
                    </div><!-- /.block-shopnow -->
                </div>
            </div>
        </div><!-- /.container -->
        <div class="bt-staticblock-freeshipping" style="background-image: url(../images/homepage3_shipping_bg.jpg);">
            <div class="bt-staticblock"> <a href="#" class="bt-staticblock-icon"><i class="fa fa-paper-plane"></i></a>
                <div class="bt-staticblock-title">
                    <h2><a href="#">Return &amp; exchange</a> </h2>
                    <p>Vintage pastel tucked t-shirt leather ecru rings cable knit knitwear grunge washed out. Street style gold collar plaited black white shirt neutral cuff seam Maison Martin Margiela.</p>
                </div>
            </div>
            <div class="bt-staticblock"> <a href="#" class="bt-staticblock-icon"><i class="fa fa-truck"></i></a>
                <div class="bt-staticblock-title">
                    <h2>  <a href="#">Free Shipping </a>     </h2>
                    <p>Givenchy knot ponytail slipper bomber chunky sole slip dress Céline. Loafer Jil Sander Vasari oversized sweatshirt sneaker black lilac 90s skirt rings. Sports luxe button up navy blue tee denim shorts.</p>
                </div>
            </div>
            <div class="bt-staticblock"> <a href="#" class="bt-staticblock-icon"><i class="fa fa-tag"></i></a>
                <div class="bt-staticblock-title">
                    <h2><a href="#"> Member Discount  </a></h2>
                    <p>Flats Cara D. dress knitwear leather tote. Round sun- glasses midi cable knit cami chambray dungaree neu- tral. Bandeau A.P.C collarless silhouette strong eye- brows denim floral cuff sandal Paris.</p>
                </div>
            </div>
        </div><!-- /.bt-staticblock-freeshipping -->


        <div class="bt-block-theme-features col-xs-12">
            <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="boss_gallery">
                          <div class="gallery-title">
                              <h1 style="color:white;">Gallery</h1>
                          </div>
                          <div id="gallery" class="isotope variable-sizes clearfix">
                              <% @images.each do |image| %>
                              <div class="item ourbrand">
                                  <a title="<%= image.name%>" href="<%= image.product.blank? ? " " : category_product_path(image.product.first.category.slug, image.product.first.slug)%>" class="swipebox"> <img src="<%= image.image.url(:large) %>" alt="<%= image.name %>"> </a>
                              </div>
                              <% end %>
                          </div>
                      </div><!-- /.boss_gallery -->
                  </div>
              </div>
            </div>
        </div><!-- /.bt-block-theme-features -->
        <div id="back_top" class="back_top" title="Back To Top"><span><i class="fa fa-angle-up"></i></span></div>
        <div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="myModal">
            <div style="width: 95%; max-width: 900px;" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div id="notification"></div>
                        <div id="modal-content">
                            <div class="product-info-qs product-info">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="bt-product-zoom">
                                            <div class="image">
                                                <a href="../images/product/p1-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom" id="zoomqs" rel=""><img src="../images/product/p1-419x555.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi" id="image">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="product-name">
                                            <h1>Cashmere cuff vintage Levi maxi</h1> </div>
                                        <div class="description"> Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et blandit eget, tristique id risus. Donec nibh lorem, rhoncus a orci vitae. Fusce ut pellentesque justo. Aliquam sit amet tincidunt orci. Praesent mauris lorem, iaculis et blandit eget, tristique id risus. Donec nibh lorem, rhoncus a orci vitae, cursus volutpat lectus. Aliquam tincidunt leo ac dui efficitur, eget tristique sapien faucibus. Etiam tempor quam mauris,Fusce ut pellentesque justo. Aliquam s.. </div>
                                        <div class="price_info"> <span class="price">$122.00</span> </div>
                                        <div class="button-group">
                                            <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                            <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i> Add to Wish List</button>
                                            <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i> Compare this Product</button>
                                        </div>
                                        <div class="viewdetail"> <a href="product-detail.html">View Detail &gt;&gt;</a> </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="image-additional">
                                            <ul id="boss_image_additional">
                                                <li>
                                                    <a href="../images/product/p1-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: '../images/product/p1-419x555.jpg' "><img src="../images/product/p1-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../images/product/p10-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: '../images/product/p10-419x555.jpg' "><img src="../images/product/p10-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../images/product/p11-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: '../images/product/p11-419x555.jpg' "><img src="../images/product/p11-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../images/product/p16-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: '../images/product/p16-419x555.jpg' "><img src="../images/product/p16-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../images/product/p15-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: '../images/product/p15-419x555.jpg' "><img src="../images/product/p15-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../images/product/p18-500x500.jpg" title="Cashmere cuff vintage Levi maxi" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: '../images/product/p18-419x555.jpg' "><img src="../images/product/p18-101x125.jpg" title="Cashmere cuff vintage Levi maxi" alt="Cashmere cuff vintage Levi maxi">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /#myModal -->

    </div>

    <script src="../javascripts/jquery-2.1.1.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/getwidthbrowser.js"></script>
    <script src="../javascripts/cs.bossthemes.js"></script>
    <script src="../javascripts/jquery.jgrowl.js"></script>
    <script src="../javascripts/jquery.appear.js"></script>
    <script src="../javascripts/video.js"></script>
    <script src="../javascripts/jquery.smoothscroll.js"></script>
    <script src="../javascripts/carouFredSel-6.2.1.js"></script>
    <script src="../javascripts/isotope.pkgd.js"></script>
    <script src="../javascripts/plugins.js"></script>
    <script src="../javascripts/jquery.tools.min.js"></script>
    <script src="../javascripts/jquery.revolution.min.js"></script>
    <script src="../javascripts/cloud-zoom.1.0.3.js"></script>
    <script src="../javascripts/custom.js"></script>
    <!--[if IE 8]>
    <script type="text/javascript">
    $(window).scroll(function() {
            var height_header = $('#bt_header').height();
            if($('html').scrollTop() > height_header) {
                $('header').addClass('boss_scroll');
            } else {
                $('header').removeClass('boss_scroll');
            }
        });
    </script>
    <![endif]-->
    <script>
        jQuery(document).ready(function() {
            /* Main Slider */
            $('.tp-banner0').show().revolution({
                dottedOverlay: "none",
                delay: 5000,
                startWithSlide: 0,
                startwidth: 1920,
                startheight: 818,
                hideThumbs: 10,
                hideTimerBar: "on",
                thumbWidth: 50,
                thumbHeight: 50,
                thumbAmount: 4,
                navigationType: "none",
                navigationArrows: "solo",
                navigationStyle: "round",
                touchenabled: "on",
                onHoverStop: "on",
                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,
                parallax: "mouse",
                parallaxBgFreeze: "on",
                parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
                keyboardNavigation: "off",
                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 50,
                soloArrowLeftVOffset: 8,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 50,
                soloArrowRightVOffset: 8,
                shadow: 0,
                fullWidth: "on",
                fullScreen: "off",
                spinner: "spinner4",
                stopLoop: "on",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                forceFullWidth: "off",
                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 500,
                hideAllCaptionAtLilmit: 500,
                videoJsPath: "rs-plugin/videojs/",
                fullScreenOffsetContainer: ""
            });

            boss_quick_shop();
        });


        /* Modal Quick Shop */
        $('#myModal').on('shown.bs.modal', function (e) {
            $.fn.CloudZoom.defaults = {
                adjustX: 0,
                adjustY: 0,
                tint: '#FFF',
                tintOpacity: 0.5,
                softFocus: 0,
                lensOpacity: 0.7,
                zoomWidth: '450',
                zoomHeight: '552',
                position: 'inside',
                showTitle: 0,
                titleOpacity: 0.5,
                smoothMove: '3'
            };
            $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
        })
        /* Quick Shop */
        function boss_quick_shop(){
            $('.product-thumb').each(function(index, value){
                var _qsHref = '<button class=\"btn-quickshop\" title =\"Quick Shop\" class=\"sft_quickshop_icon \" data-toggle=\"modal\" data-target=\"#myModal\"><i class="fa fa-eye"></i></button>';
                $('.button-group', this).append(_qsHref);
            });
        }
    </script>
</body>
