<body class="">
  <div class="container">
    <div class="row">
      <column id="column-left" class="col-sm-3 hidden-xs">
      </column>
      <!-- /#column-left -->
      <div id="content" class="col-sm-12">
        <div data-delay="200" data-animate="fadeInDown" class="bt-block-category fadeInDown animated">
          <a href="#"> <img alt="banner" src="../images/banner/banner_category.jpg"></a>
          <div class="block-title">
            <h1>modern art</h1>
            <h4>glamour with an edge</h4>
            <a href="#">Shop Now</a>
          </div>
        </div>
        <!-- /.bt-block-category -->
        <div class="product-filter">
          <div class="display hidden-xs">
            <button type="button" id="list-view" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i>
            </button>
            <button type="button" id="grid-view" class="btn-grid" data-toggle="tooltip" title="Grid"><i class="fa fa-th-large"></i>
            </button>
          </div>
          <!-- /.display -->
        </div>
        <!-- /.product-filter -->
        <div class="row">
          <% @photos.each do |image| %>
          <div class="product-layout product-list col-xs-12">
            <div class="product-thumb">
              <div class="image">
                <%= link_to image_tag(image.image.url(:large), :class => "img-responsive"), "#", data: {toggle: "modal", target: "##{image.product.blank? ? "_" : image.product.first.id}Modal"} %>
              </div>
              <div class="caption">
                <div class="name"><a href="#"><%= image.name %></a>
                </div>
                <div class="description">
                  <p><%= image.product.blank? ? '' : image.product.first.description %></p>
                </div>
              </div>
              <div class="button-group button-list">
                <button class="btn-cart" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                <button class="btn-wishlist" type="button" title="Add to Wish List"><i class="fa fa-heart"></i>
                </button>
                <button class="btn-compare" type="button" title="Compare this Product"><i class="fa fa-retweet"></i>
                </button>
              </div>
            </div>
          </div>
          <% if image.product.blank? %>
          <% else %>
            <div id="<%=image.product.first.id%>Modal" class="modal fade" role="dialog">
              <div style="width: 95%; max-width: 900px;" class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                  <div id="notification"></div>
                  <div id="modal-content">
                    <div class="product-info-qs product-info">
                      <div class="row">
                        <div class="col-md-6 col-xs-12">
                          <div class="bt-product-zoom">
                            <div class="image">
                              <%= image_tag(image.image.url(:large), :class => "img-responsive") %>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                          <div class="product-name">
                            <h1><%= image.name %></h1>
                          </div>
                          <div class="description">Product Description</div>
                          <div class="button-group">
                            <%=button_to "View #{image.product.first.name}", category_product_path(image.product.first.category.slug, image.product.first.slug), method: :get %>
                          </div>
                        </div>
                        <div class="col-xs-12">
                          <div class="image-additional">
                            <ul id="boss_image_additional">
                              <% image.product.first.product_images.each do |product_image| %>
                              <li>
                                <a href="<%= product_image.image.url(:thumb)%>" title="<%= product_image.name %>" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: '<%= product_image.image.url(:thumb)%>'"><img src="<%= product_image.image.url(:thumb)%>" title="<%= product_image.name %>" alt="<%= product_image.name %>">
                                </a>
                              </li>
                              <% end %>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
            <% end %>
          </div>
          <!-- /.product-layout -->
        </div>
        <!-- /.row -->
        <!-- <div class="result-pagination">
          <div class="results pull-left">Showing 1 to 15 of 19 (2 Pages)</div>
          <div class="links">
            <ul class="pagination">
              <li class="active"><span>1</span>
              </li>
              <li><a href="page=2">2</a>
              </li>
              <li><a href="page=2">&gt;</a>
              </li>
              <li><a href="page=2">&gt;|</a>
              </li>
            </ul>
          </div>
        </div> -->
        <!-- /.result-pagination -->
      </div>
      <!-- /#content -->
      <div id="tags-load"><i class="fa fa-spinner fa-pulse fa-2x"></i>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div id="bt_footer">
  </div>
  <!-- /#bt_footer -->

  <div id="back_top" class="back_top" title="Back To Top"><span><i class="fa fa-angle-up"></i></span></div>
  <div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="myModal">
    <div style="width: 95%; max-width: 900px;" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" title="Close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <div id="notification"></div>
          <div id="modal-content">
            <div class="product-info-qs product-info">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="bt-product-zoom">
                    <div class="image">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="product-name">
                  </div>
                  <div class="description">Product Description</div>
                  <div class="button-group">
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="image-additional">
                    <ul id="boss_image_additional">
                      <li>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#myModal -->
  </div>
  <script src="../javascripts/jquery-2.1.1.min.js"></script>
  <script src="../javascripts/bootstrap.min.js"></script>
  <script src="../javascripts/getwidthbrowser.js"></script>
  <script src="../javascripts/cs.bossthemes.js"></script>
  <script src="../javascripts/jquery.jgrowl.js"></script>
  <script src="../javascripts/jquery.appear.js"></script>
  <script src="../javascripts/video.js"></script>
  <script src="../javascripts/jquery.smoothscroll.js"></script>
  <script src="../javascripts/carouFredSel-6.2.1.js"></script>
  <script src="../javascripts/isotope.pkgd.js"></script>
  <script src="../javascripts/plugins.js"></script>
  <script src="../javascripts/jquery.tools.min.js"></script>
  <script src="../javascripts/jquery.revolution.min.js"></script>
  <script src="../javascripts/cloud-zoom.1.0.3.js"></script>
  <script src="../javascripts/custom.js"></script>
  <script>
    jQuery(document).ready(function() {

        boss_quick_shop();
        dataAnimate();

        /* View Mode */
        // Product List
        $('#list-view').on('click',function() {
            $('#content .product-layout').attr('class', 'product-layout product-list col-xs-12');
            localStorage.setItem('display', 'list');
        });
        // Product Grid
        $('#grid-view').on('click',function() {
            // What a shame bootstrap does not take into account dynamically loaded columns
            cols = $('#column-right, #column-left').length;
            if (cols == 2) {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-6 col-md-6 col-sm-6 col-xs-12');
            } else if (cols == 1) {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-4 col-md-4 col-sm-4 col-xs-12');
            } else {
                $('#content .product-layout').attr('class', 'product-layout product-grid col-lg-3 col-md-3 col-sm-3 col-xs-12');
            }
            localStorage.setItem('display', 'grid');
        });
        if (localStorage.getItem('display') == 'list') {
            $('#list-view').trigger('click');
        } else {
            $('#grid-view').trigger('click');
        }
    });
    /* Modal Quick Shop */
    $('#myModal').on('shown.bs.modal', function (e) {
        $.fn.CloudZoom.defaults = {
            adjustX: 0,
            adjustY: 0,
            tint: '#FFF',
            tintOpacity: 0.5,
            softFocus: 0,
            lensOpacity: 0.7,
            zoomWidth: '450',
            zoomHeight: '552',
            position: 'inside',
            showTitle: 0,
            titleOpacity: 0.5,
            smoothMove: '3'
        };
        $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();
    })
    /* Quick Shop */
    function boss_quick_shop(){
        $('.product-thumb').each(function(index, value){
            var _qsHref = '<button class=\"btn-quickshop\" title =\"Product View\" class=\"sft_quickshop_icon \" data-toggle=\"modal\" data-target=\"#myModal\"><i class="fa fa-eye"></i></button>';
            $('.button-group', this).append(_qsHref);
        });
    }
  </script>
</body>
</html>
