<body class="">
        <div class="container">
            <div class="row">
                <column id="column-left" class="col-sm-3 hidden-xs">
                </column><!-- /#column-left -->
                <div id="content" class="col-sm-12">
                  <div class="text-center">
<h1><%= @category.name %></h1>
<!-- Mobile view -->
<% if @product.present? %>
<% if browser.mobile? %>
  <% @products.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |product| %>
            <div class="col-sm-12 col-md-4">
              <div class="category-wrapper">
              <div class="tile-offset" style="background-image:url('<%= product.image_1 %>');">
                <a href="<%= url_for(action:'show', controller:'products', id:product.id) %>">
                <div class="product-overlay HIDE">
                  <div class="title">
                    <h3 style="padding-top: 50%;"><%= product.name %></h3>
                  </div>
                  <div class="bottom" style="background-image:url(http://i.imgur.com/6HsvJeM.png), url(http://i.imgur.com/IPQHutD.png);background-size:50%,51%;background-position:left,right;background-repeat:no-repeat;">
                    <div class="bottom-left">
                      <h6>AS LOW AS</h6>
                      <h4>$<%= product.price %></h4>
                    </div>
                    <div class="bottom-right">
                      <h6>
                        <a style="color: white;" href="<%= url_for(action:'show', controller:'products', id:product.id) %>">
                        Quote
                      </a>
                    </h6>
                    </div>
                  </div>
                </div>
              </a>
              </div>
              <% if admin_signed_in? %>
                <%= link_to 'Show', [product.category, product], class: "btn btn-primary" %>&nbsp;
                <%= link_to 'Edit', edit_category_product_path(product.category, product), class: "btn btn-basecamp" %>&nbsp;
                <%= link_to 'Destroy', [product.category, product], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              <% end %>
            </div>
      <% end %>
    </div>
  <% end %>
  <!-- end of mobile -->
  <% else %>
  <% @products.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |product| %>
            <div class="col-sm-12 col-md-4">
              <div class="tile-offset" style="background-image:url('<%= product.image_1 %>');">
                <div class="product-overlay HIDE modaling" href="#exampleModal<%= product.id %>">
                  <div class="title">
                    <h3><%= product.name.titleize %></h3>
                  </div>
                  <div class="bottom" style="background-image:url(http://i.imgur.com/6HsvJeM.png), url(http://i.imgur.com/IPQHutD.png);background-size:50%,51%;background-position:left,right;background-repeat:no-repeat;">
                    <div class="bottom-left">
                      <h6>AS LOW AS</h6>
                      <h4>$<%= product.price %></h4>
                    </div>
                    <div class="bottom-right">
                      <h6>Quote</h6>
                    </div>
                  </div>
                </div>
              </div>
              <% if admin_signed_in? %>
                <%= link_to 'Show', [product.category, product], class: "btn btn-primary" %>&nbsp;
                <%= link_to 'Edit', edit_category_product_path(product.category, product), class: "btn btn-basecamp" %>&nbsp;
                <%= link_to 'Destroy', [product.category, product], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              <% end %>
            </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<% end %>


<br>
<% if admin_signed_in? %>
  <div class="pad-btm">
    <%= link_to 'New Product', new_category_product_path, class: "btn btn-basecamp" %>
  </div>
<% end %>
</div>

<% if @product.present? %>
<% @products.each do |product| %>
  <div class="modal fade" id="exampleModal<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center" id="exampleModalLabel<%= product.id %>"><%= product.name.titleize %></h4>
        </div>
        <div class="modal-body">
          <%= render product %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>


                        <div class="face-comment tab-pane" id="tab_facecomments">
                            <div class="bt-facecomments">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="fb-comments" data-href="" data-colorscheme="light" data-numposts="5" data-order-by="reverse_time"></div>
                                    </div>
                                </div>
                                <div id="fb-root"></div>
                            </div>
                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-content -->
                </div><!-- /#content -->
            </div><!-- /.row -->
        </div><!-- /.container -->


        <div id="back_top" class="back_top" title="Back To Top"><span><i class="fa fa-angle-up"></i></span></div>
    </div>

    <script src="/assets/jquery-2.1.1.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/getwidthbrowser.js"></script>
    <script src="/assets/cs.bossthemes.js"></script>
    <script src="/assets/jquery.jgrowl.js"></script>
    <script src="/assets/jquery.appear.js"></script>
    <script src="/assets/video.js"></script>
    <script src="/assets/jquery.smoothscroll.js"></script>
    <script src="/assets/carouFredSel-6.2.1.js"></script>
    <script src="/assets/isotope.pkgd.js"></script>
    <script src="/assets/plugins.js"></script>
    <script src="/assets/jquery.tools.min.js"></script>
    <script src="/assets/jquery.revolution.min.js"></script>
    <script src="/assets/cloud-zoom.1.0.3.js"></script>
    <script src="/assets/custom.js"></script>
    <script src="/assets/jquery.fancybox.js"></script>
    <script>
        jQuery(document).ready(function() {
            /* bosszoomtoolbox */
            $.fn.CloudZoom.defaults = {
                adjustX: 0,
                adjustY: 0,
                tint: '#FFF',
                tintOpacity: 0.5,
                softFocus: 0,
                lensOpacity: 0.7,
                zoomWidth: '450',
                zoomHeight: '512',
                position: 'inside',
                showTitle: 0,
                titleOpacity: 0.5,
                smoothMove: '3'
            };
            $('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();

            //pass the images to Fancybox
            var gallerylist = [];
            gallerylist.push({
                href: "/images/product/p21-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            gallerylist.push({
                href: "/images/product/p18-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            gallerylist.push({
                href: "/images/product/p1-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            gallerylist.push({
                href: "/images/product/p16-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            gallerylist.push({
                href: "/images/product/p11-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            gallerylist.push({
                href: "/images/product/p10-600x683.jpg",
                title: "Cashmere cuff vintage Levi maxi"
            });
            $("#wrap").bind('click', function() {
                $.fancybox.open(gallerylist);
                return false;
            });

            $("#boss-image-additional li a").on('click',function() {
                $("#boss_large").attr("href", this)
            });

            /* Color Option */
            $('.bt-image-option').on('click',function() {
                $('.bt-image-option').each(function() {
                    $(this).removeClass('active');
                });
                $(this).addClass('active');
            });

            /* boss-image-additional slider */
            $('#boss-image-additional').carouFredSel({
                auto: false,
                responsive: true,
                width: '100%',
                prev: '#prev_image_additional',
                next: '#next_image_additional',
                swipe: {
                    onTouch: true
                },
                items: {
                    width: 120,
                    height: 'auto',
                    visible: {
                        min: 1,
                        max: 3
                    }
                },
                scroll: {
                    direction: 'left', //  The direction of the transition.
                    duration: 500, //  The duration of the transition.
                }
            });

        });

        function changeQty(increase) {
            var qty = parseInt($('.select_number').find("input").val());
            if (!isNaN(qty)) {
                qty = increase ? qty + 1 : (qty > 1 ? qty - 1 : 1);
                $('.select_number').find("input").val(qty);
            } else {
                $('.select_number').find("input").val(1);
            }
        }
        function goToByScroll(id){
            $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
        }
    </script>
</body>
